AGENT_IDENTITY={{ agent_identity }}
OWNER={{ owner }}
OWNER_AAD_ID={{ owner_aad_id }}
A365_APP_ID={{ a365_app_id }}
A365_TENANT_ID={{ a365_tenant_id }}
AA_INSTANCE_ID={{ aa_instance_id }}
HERMES_OTLP_ENDPOINT={{ hermes_otlp_endpoint }}
{%- if business_hours_tz %}
BUSINESS_HOURS_TZ={{ business_hours_tz }}
{%- endif %}
{%- if business_hours_start %}
BUSINESS_HOURS_START={{ business_hours_start }}
{%- endif %}
{%- if business_hours_end %}
BUSINESS_HOURS_END={{ business_hours_end }}
{%- endif %}
